#slider-62 .wd-slide {
	min-height: 550px;
}

@media (max-width: 1024px) {
	#slider-62 .wd-slide {
		min-height: 400px;
	}
}

@media (max-width: 767px) {
	#slider-62 .wd-slide {
		min-height: 280px;
	}
}
