#slider-47 .wd-slide {
	min-height: 920px;
}

@media (max-width: 1024px) {
	#slider-47 .wd-slide {
		min-height: 765px;
	}
}

@media (max-width: 767px) {
	#slider-47 .wd-slide {
		min-height: 680px;
	}
}
