#slider-49 .wd-slide {
	min-height: 700px;
}

@media (max-width: 1024px) {
	#slider-49 .wd-slide {
		min-height: 500px;
	}
}

@media (max-width: 767px) {
	#slider-49 .wd-slide {
		min-height: 420px;
	}
}
