#slider-48 .wd-slide {
	min-height: 820px;
}

@media (max-width: 1024px) {
	#slider-48 .wd-slide {
		min-height: 620px;
	}
}

@media (max-width: 767px) {
	#slider-48 .wd-slide {
		min-height: 420px;
	}
}
