#slider-60 .wd-slide {
	min-height: 495px;
}

@media (max-width: 1024px) {
	#slider-60 .wd-slide {
		min-height: 495px;
	}
}

@media (max-width: 767px) {
	#slider-60 .wd-slide {
		min-height: 495px;
	}
}
