#slider-57 .wd-slide {
	min-height: 600px;
}

@media (max-width: 1024px) {
	#slider-57 .wd-slide {
		min-height: 500px;
	}
}

@media (max-width: 767px) {
	#slider-57 .wd-slide {
		min-height: 640px;
	}
}
